* {
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: rgb(87, 0, 128);
  height: 3rem;
}

.header > a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

body {
  background-color: whitesmoke;
}

h1 {
  color: white;
  font-size: 2rem;
  font-weight: lighter;
  font-family: "Proza Libre", sans-serif;
}

/* data-view entry form start */
label {
  font-weight: 600;
}

.input-field {
  margin-bottom: 1rem;
}

input,
textarea {
  margin: 0.75rem 0;
}

textarea {
  width: 100%;
}

button {
  background-color: purple;
  color: white;
  padding: 0.4rem 0.75rem;
  border-radius: 3px;
  border: none;
}

.button {
  display: flex;
  justify-content: flex-end;
}

/* data-view entries start */
.entries-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.new-button {
  background-color: purple;
  color: white;
  padding: 0.4rem 0.75rem;
  border-radius: 3px;
  border: none;
  text-decoration: none;
  font-size: 0.9rem;
}

li.entry {
  display: flex;
}

li {
  display: flex;
  flex-wrap: wrap;
}

.entry-text-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.user-title > h3 {
  margin: 0;
  font-weight: bold;
  font-size: 1.25rem;
}

.user-notes > p {
  font-size: 0.9rem;
  font-weight: 400;
}

img {
  object-fit: cover;
  object-position: 50% 50%;
}

p.center {
  text-align: center;
}
